* {
  font-family: 'Roboto', sans-serif;
}

.app-logo {
  width: 150px;
}

.app-header {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-title {
  padding-right: 5rem;
}

.app-content {
  padding: 1rem;

}

#cartButton {
  /* margin: 1rem 2rem -3rem auto; */
  display: flex;
  align-items: center;
}

.dropdown-menu {
  padding: 1rem;
}

.item-quantity {
  background: white !important;
  text-align: center;
}

.no-stock {
  height: 0;
  overflow: visible;
}

.no-stock--label {
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px 20px;
  color: white;
  width: 80%;
  margin: auto;
  transform: rotate(-25grad);
}

.item-cart-count {
  /* text-align: end; */
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.count-steps {
  font-size: small;
  font-weight: thin;
}


.detail-container {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
}

.detail-info {
  display: flex;
  flex-direction: column;
}

.detail-steps {
  font-weight: normal;
  font-size: 1.2rem;
}

.image-container {
  /* width: 500px; */
}

.carousel {
  border-radius: 1rem;
  overflow: hidden;
}

.total-price,
.new-price {
  font-weight: bold;
  color: green;
}

.total-price.discounted {
  font-size: 1.1rem;
  color: grey !important;
  font-weight: 500 !important;
  text-decoration: line-through;
}

.discount-rate {
  font-size: .8rem;
}