* {
  font-family: 'Roboto', sans-serif;
}

.app-container {
  /* height: 100vh; */
}

.app-logo {
  width: 150px;
}

.app-header {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-content {
  padding: 1rem;

}