* {
  font-family: 'Roboto', sans-serif;
}

.app-container {
  /* height: 100vh; */
}

.app-logo {
  width: 150px;
}

.app-header {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-content {
  padding: 1rem;

}

#cartButton {
  margin: 1rem 1rem -3rem auto;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  padding: 1rem;
}

.item-quantity {
  background: white !important;
  text-align: center;
}

.count-steps {
  font-size: small;
  font-weight: thin;
}